h1{
	text-align: center;
	text-transform: uppercase;
}
a{
	color:#724ab1;
}
header{
	background: #9a9898;

}
h2{
	text-transform: uppercase;
	color: blue;
}
section{
	background: #7b767b;
}



